@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <div class="container">
        <div>
            @*<img src="~/JoelHilton.jpg" class="rounded-circle" />*@
            <img src="https://media.istockphoto.com/photos/movie-projector-on-dark-background-picture-id1007557230?k=6&m=1007557230&s=612x612&w=0&h=2c6NHjfH4sWCgTNoZCDLQx10_PdIfl-dI-nyZ9wF_jI=" />

            <br />
            <div class="container text-center">
                <h2>Add a new movie to the collection.</h2>
                <p>Welcome to the Joel Hilton Film Collection website.</p>
                <a asp-action="AddMovie" class="btn btn-success">Add Movie</a>
            </div>
        </div>
    </div>
</div>
